	@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700&display=swap');
	
	
	body, html {
  height: 100%;
  margin: 0;
		scroll-behavior: smooth;
		font-family:  "Roboto";
	
}

/* Hamburger start */
.navbar-toggler {
  border: none;
  width: 30px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
	box-shadow: none !important; /* zruší focus ring */
}

/* Hamburger čáry */
.navbar-toggler span,
.navbar-toggler span::before,
.navbar-toggler span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.navbar-toggler span {
  top: 50%;
  transform: translateY(-50%);
}

.navbar-toggler span::before {
  content: '';
  top: -10px;
}

.navbar-toggler span::after {
  content: '';
  top: 10px;
}

/* Po otevření menu → křížek */
.navbar-toggler:not(.collapsed) span {
  background-color: transparent; /* střední čára zmizí */
}

.navbar-toggler:not(.collapsed) span::before {
  transform: rotate(45deg) translate(5px, 4px);
}

.navbar-toggler:not(.collapsed) span::after {
  transform: rotate(-45deg) translate(10px, -10px);
}


	nav {
	transition: all 0.2s ease;	
		background-color: rgba(255, 255, 255, 0.6);
	}
	
	
	#mynavbar a {
		text-align: center;
		color: black;
		
	}

/* --------------------------------------------------------------------------------- */
	
	h1 {
		font-size: clamp(4rem, 5.5vw, 7rem);
		font-family: 'Dancing Script', cursive;
		margin: 3rem 0;
	}
	
		h2 {
		font-size: 3rem;
		font-family: 'Dancing Script', cursive;
		
	}


	#intro {
		 height: 100%; 
	background-image: url("head.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		
	}




/* jen na malé obrazovce a když je menu rozbalené */
@media (max-width: 991.98px) {
  .navbar.fixed-top:has(.navbar-collapse.show) {
    background-color: #fff;
  }
  }


	@media (max-width: 575.98px) {
	
	#intro {
		 height: auto; 
	background-image: url("head.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}		
	
	h1 {
		font-size: 3.5rem;
	}
	
		h3 {
		font-size: 1.1em;
	}
	
	.opac {
		 background-color: #fff;
		padding: 1rem;
		border-radius: 20px;
		opacity: 0.75;
		text-align: center;
		color: #000 !important;
		margin-top: 3rem;
	}
	
}


	
	#galerie a {
		margin-bottom: 1rem;
	}

.tag {
  opacity: 0;
  transition: all 0.3s ease-out;
}

/* směry podle className */
.frombottom {
  transform: translateY(10vh);
}
.fromtop {
  transform: translateY(-10vh);
}
.fromleft {
  transform: translateX(-10vw);
}
.fromright {
  transform: translateX(10vw);
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}
